<div class="mt-3">
  <% flash.each do |name, msg| %>
    <%
    if name == "notice"
      alert_class = "alert-success"
    else
      alert_class = "alert-danger"
    end
    %>
    <div class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>